<ul class="people_list">

    <div>
        <form method="post" action="/button">
        {{#each people}}
            <button type="submit">{{this}}</button>
        {{/each}}
        </form>
    </div>

</ul>
